<!DOCTYPE html>
<html>
<head>
	<title>Signup - uWufinder</title>
	<link rel="stylesheet" type="text/css" href="/templates/signup.css">
</head>
<body>
	{%block content %}
	<form method="POST">
		{% csrf_token %}
		<input type="text" name="username" placeholder="Username">
		<input type="text" name="email" placeholder="Email">
		<input type="text" name="first_name" placeholder="First name">
		<input type="text" name="last_name" placeholder="Last name">
		<input type="password" name="pwd1" placeholder="Password">
		<input type="password" name="pwd2" placeholder="Confirm password">
		<button type="submit">Cadastrar</button>

	</form>
	{%endblock%}
</body>
</html>
<!-- Username: {{form.username}}
		Password: {{form.password1}}
		Confirm password: {{form.password2}} -->